.custom-markdown {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 500;
        margin-top: 0.5rem;
        margin-bottom: 0.75rem;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.15rem;
    }


    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 0.85rem;
    }


    code {
        background: rgb(140, 140, 140, .10);
        padding: 4px;
        margin: 0 1px;
        border-radius: 5px;
        font-family: monospace;
        overflow: hidden;
    }

    p {
        margin: 0.35rem 0;
    }



}